<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>settings</ion-title>
  </ion-navbar>

</ion-header>

<!-- check ngFor for ion-radio -->
<ion-content padding>
  <ion-list radio-group>
    <ion-list-header>Pick a country</ion-list-header>
    <ion-list-header *ngIf="selectCountry">
      Selected country:
      <p 
      [style.direction]="selectCountry.rtl ? 'rtl' : 'ltr'"
      [innerText]="selectCountry.local_name"></p>
    </ion-list-header>
    <ion-item *ngFor="let country of countries">
      <ion-radio (ionSelect)="selectCountry=country" [value]="country.code"></ion-radio>
      <ion-label>{{ country.name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
